<h1>Settings</h1>

###

<form action=<%=settings_path%> method="get">

<input type="textfield" id="search" name="search" %>>
<input type="submit">

</form>

###

<ul>
<% @settings.each do |setting| %>
    <li><%= link_to setting.title, setting_path(setting) %> ~ <%=setting.high_concept%></li>
<% end %>
    <li><%= link_to "create new setting", new_setting_path %></li>
</ul>